.single__container {
  justify-content: center;
  padding: 10px 0 50px;
  .images__block {
    width: 90%;
    margin-bottom: 20px;
  }
  .product__details {
    width: 90%;
  }
}

.cart_container {
  padding: 20px 25px;

  //.cart__block {
  .cart_item__block {
    .cart_item {
      width: 80% !important;
      &:nth-child(3) {
        width: 10% !important;
      }
    }
  }
  //}
  .buy__block{
    width: 280px;
  }
}

.modal__container {
  padding: 20px;
}

.profile__container {
  display: block;
  padding: 20px 10px 30px;

  .user__info {
    margin: 0 auto 40px;
  }

  .profile__block {
    margin: 0 auto;
  }
}

.profile__container {
  .order {
    margin: 0 auto;
  }
}

// shop
.shop__container {
  .shop__item__block {
    &.favorite {
      .shop__item {
        width: 50%;
      }
    }
    .shop__item {
      width: 50%;
    }
  }
}

//header

.header {
  li {
    padding: 8px 22px !important;
    margin-right: 8px !important;

    i {
      font-size: 18px !important;
    }
  }
}

.filtersContent {
  top: 70px;
}

.empty__block {
  height: calc(100vh - 300px);
}

.footer .container {
  display: block;
  text-align: center;
  padding: 30px 0 5px;
  > div {
    margin-bottom: 18px;
  }
}