<div class="container"
     style="width: 60%;
     background: #e3e3e3;
     text-align: center;
     margin: 0 auto;
     padding: 40px;
">
    <p style="width: 85%;
     margin: 0 auto;
    ">
        <%= text %>
    </p>
</div>


