<div class="container"
     style="width: 60%;
     background: #e3e3e3;
     text-align: center;
     margin: 0 auto;
     padding: 40px;
">
    <h1>Online Shop</h1>

    <p style="width: 85%;
     margin: 0 auto;
    ">
        We have received a request to change your Online Shop account password.
        Enter the following password reset code.
    </p>

    <p style="width: max-content;
        margin: 20px auto;
        padding: 10px 30px;
        background: #e7f3ff;
        border-radius: 10px;
    ">
        <%= activationCode %>
    </p>

    <p style="width: 70%;
     margin: 0 auto;
    ">
        Alternatively, you can directly change your password.
    </p>

    <button style="
        padding: 0;
        border: none;
        margin: 50px 0 10px;
        ">
        <a href="<%= activationUri%>?email=<%= email %>&code=<%= activationCode %>"
           style="text-decoration: none;
               color: #4e4e4e;
               cursor: pointer;
               padding: 15px 30px;
               border-radius: 10px;
               background: #aaaac9;
               font-size: 14px;
           "
        >
            Change password
        </a>
    </button>
</div>